<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>prodcom</title>
  </head>
  
 
    {% include 'navbar.html' %}
<body>

    {% if user.is_superuser %}

          <form action="/{{user.username}}/allapplication" method='post'> {% csrf_token %}
            <button type="submit" class="btn btn-primary">Application list to become seller</button>
          </form>
          
          <form action="/{{user.username}}/allseller" method='post'> {% csrf_token %}
            <button type="submit" class="btn btn-secondary">List of Seller</button>
          </form>
          
          <form action="/{{user.username}}/allbuyer" method='post'> {% csrf_token %}
            <button type="submit" class="btn btn-success">List of buyer</button>
          </form>
          
          <form action="/{{user.username}}/allproduct" method='post'> {% csrf_token %}
            <button type="submit" class="btn btn-info">List of Products</button>
          </form>


        

    {% else %}

        {{username}} {{fullname}} {{email}} {{contact}} {{address}}

        {% if role == 'buyer' %}

        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#applysellerformModal">
            Become a seller</button>

        

        {% elif role == 'seller' %}
          <p>You are a Seller you can add product items for sale</p>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addproductformModal">
          Add product items</button>

          
          <a type="button" href="/seller/catalog" class="btn btn-outline-primary">View Seller Catalog</a>



        {% endif %}
    
    {% endif %}

    






    
  <!-- applysellerform Modal -->
<div class="modal fade" id="applysellerformModal" tabindex="-1" aria-labelledby="applysellerformModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="applysellerformModalTitle">Apply Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>List of document to be submit in a single pdf:</p>
            <p>1. aadhar card/voter id/passport</p>
            <p>2. Address proof (electricity bill/driving license)</p>
          <form action= "/applyforseller" method='post' enctype="multipart/form-data">  {% csrf_token %}

            <div class="form-group">
            <label for="userfile">Document</label>
            <input id="userfile" name="userfile" type="file" accept="application/pdf" /> 
            
            </div>
    
          
          <button type="submit" class="btn btn-primary">Submit</button>
  </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  
  
  



<!-- Add product form Modal -->
<div class="modal fade" id="addproductformModal" tabindex="-1" aria-labelledby="addproductformModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addproductformModalTitle">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
        <form action= "/addproduct" method='post' enctype="multipart/form-data">  {% csrf_token %}

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Product Name" required>
            
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Description" required>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Quantity" required>
          </div>
          <div class="form-group">
            <label for="price">Price (in INR)</label>
            <input type="number" step='0.01' class="form-control" id="price" name="price" placeholder="Price" required>
          
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" id="category" name="category" placeholder="Category" required>
             
          </div>
          <div class="form-group">
            <label for="image1">1st Image</label>
            <input id="image1" name="image1" type="file" accept="image/jpeg" /> 
          </div>

          <div class="form-group">
            <label for="image2">2nd Image</label>
            <input id="image2" name="image2" type="file" accept="image/jpeg" /> 
          </div>
  
        
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>







    
</body>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>